
#navbarcontainer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    width: 500px;
    height: 68px;
    float: right; 
    text-align: center;
}

#topBar, #btmBar {
    height: 5px;
    background-color: #a24aaa;
}

#btmBar1 {
    height: 40px;
    background-color: grey;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:row;
}

#bioMainDiv {
    height: auto;
    padding: 0px;
}

#bioContainerRow, body {
    height: auto;
    background-color: rgb(230, 238, 240)
}

#picBtnRow {
    height: auto;
    padding-right: 60px;
}

#headerAboutMeCol {
    height: auto;
}

#headshotRow {
    Height: auto;
}

#headshotCol {
    height: auto;
}

#headShot {  
        content: "";
        background: url("C:/Users/archi/Desktop/codingbootcamp/revisedPortfolio/revised-bio/assets/images/steveheadshot.png") no-repeat;      
        width: 200px;
        height: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
}

#contactBtn, #emailBtn, #projectBtn, #resumeBtn {
    background-color: rgb(231, 180, 231);
}

h1 {
    background-color: #a24aaa;
    color: white; 
}

#nameRow {
    margin-top: 10px;
}

#linkedinCol {          
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: center;
}

#githubCol {         
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: center;
}

#linkedinLogoBtn {
    content: "";
    background: url("C:/Users/archi/Desktop/codingbootcamp/revisedPortfolio/revised-bio/assets/images/In-2C-66px-R.png") no-repeat;
    width: 66px;
    height: 66px;
    margin: 0px;
    padding: 0px;
}

#githubLogoBtn {
    content: "";
    background: url("C:/Users/archi/Desktop/codingbootcamp/revisedPortfolio/revised-bio/assets/images/GitHub-Mark-64px.png") no-repeat;
    width: 64px;
    height: 64px;
    margin: 0px;
    padding: 0px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

